In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_formated.csv',index_col=[0])

In [3]:
df

         Name                                              About Category
0         cat  cat felis catus domestic species small carnivo...   animal
1         dog  canis familiaris linnaeus aegyptius linnaeus a...   animal
2       tiger  tiger panthera tigris largest extant cat speci...   animal
3        wolf  see subspecies canis lupus wolf canis lupus al...   animal
4       shark  carcharhiniformes heterodontiformes hexanchifo...   animal
..        ...                                                ...      ...
148   coconut  coconut tree cocos nucifera member palm tree f...     food
149     lemon  lemon citrus limon species small evergreen tre...     food
150  lemonade  lemonade sweetened lemon flavored beverage var...     food
151       tea  tea aromatic beverage commonly prepared pourin...     food
152    coffee  coffee brewed drink prepared roasted coffee be...     food

[153 rows x 3 columns]

In [4]:
topics = df.pop('Name')

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(max_features=200) # change in number of features changes accuracy drastically

vectors = vectorizer.fit_transform(df['About'])

In [6]:
vectorizer.get_feature_names()

['africa',
 'ago',
 'al',
 'allium',
 'also',
 'although',
 'america',
 'among',
 'ancient',
 'animals',
 'arab',
 'area',
 'areas',
 'around',
 'asia',
 'associated',
 'atlantic',
 'australia',
 'bc',
 'became',
 'birds',
 'black',
 'blue',
 'british',
 'called',
 'capital',
 'central',
 'centuries',
 'century',
 'china',
 'chinese',
 'city',
 'color',
 'colour',
 'common',
 'commonly',
 'considered',
 'countries',
 'country',
 'culture',
 'dark',
 'derived',
 'developed',
 'different',
 'domesticated',
 'due',
 'early',
 'east',
 'eastern',
 'economic',
 'economy',
 'egypt',
 'emerged',
 'empire',
 'english',
 'established',
 'europe',
 'european',
 'family',
 'females',
 'first',
 'fish',
 'following',
 'food',
 'form',
 'found',
 'french',
 'ft',
 'gdp',
 'generally',
 'genus',
 'german',
 'gmelin',
 'government',
 'great',
 'greek',
 'green',
 'grey',
 'group',
 'groups',
 'grown',
 'high',
 'however',
 'human',
 'humans',
 'important',
 'include',
 'including',
 'independence',
 'india',
 'international',
 'islands',
 'kingdom',
 'known',
 'land',
 'language',
 'large',
 'larger',
 'largest',
 'later',
 'latin',
 'leaves',
 'led',
 'light',
 'like',
 'listen',
 'live',
 'living',
 'long',
 'made',
 'major',
 'many',
 'may',
 'meaning',
 'mediterranean',
 'member',
 'members',
 'mi',
 'middle',
 'military',
 'milk',
 'million',
 'modern',
 'name',
 'nations',
 'native',
 'new',
 'non',
 'north',
 'northern',
 'officially',
 'often',
 'old',
 'one',
 'order',
 'pacific',
 'part',
 'people',
 'plant',
 'political',
 'population',
 'populous',
 'power',
 'prey',
 'red',
 'region',
 'regions',
 'related',
 'republic',
 'roman',
 'russia',
 'russian',
 'sea',
 'second',
 'seeds',
 'several',
 'since',
 'size',
 'small',
 'sometimes',
 'south',
 'southeast',
 'southern',
 'soviet',
 'spanish',
 'species',
 'sq',
 'square',
 'state',
 'states',
 'term',
 'territory',
 'th',
 'third',
 'though',
 'three',
 'throughout',
 'trade',
 'two',
 'typically',
 'union',
 'united',
 'use',
 'used',
 'usually',
 'various',
 'war',
 'water',
 'well',
 'west',
 'western',
 'whales',
 'white',
 'widely',
 'wild',
 'within',
 'word',
 'world',
 'years',
 'yellow']

In [7]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [8]:
labels = le.fit_transform(df['Category'])

In [9]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

clfrNB = MultinomialNB(alpha = 0.1)
clfrNB.fit(vectors, labels)

MultinomialNB(alpha=0.1)

In [10]:
pred = clfrNB.predict(vectors)

In [11]:
labels

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3])

In [12]:
accuracy_score(labels,pred)

1.0